html(lang="en")
  head
    title Loans
    link(rel="stylesheet" href="stylesheets/style.css")
    link(rel="stylesheet" href="stylesheets/custom.css")
  body
    #content
      include includes/header.pug
      #main
        h1 Loans
        a.button(href='/new_loan') Create New Loan
        ul.filters
          li Filters
          li
            a(href="/loans") All
          li
            a(href="/loans?filter=overdue") Overdue
          li
            a(href="/loans?filter=checkedout") Checked Out
        table
          thead
            tr
              th Book
              th Patron
              th Loaned On
              th Return By
              th Returned On
              th Action
          tbody
            each loan in loans
              tr
                td= loan.book.title
                td= loan.patron.first_name + " " + loan.patron.last_name
                td= loan.loaned_on
                td= loan.return_by
                td= loan.returned_on
                td Return Book